body {
  line-height: 1.5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emoji-matrix-input {
  height: 200px;
  font-size: 2rem;

  margin-bottom: 3rem;
}

.result {
  white-space: pre;
  text-align: left;
}

.input-output-area {
  display: flex;
  width: 90vw;
  justify-items: space-around;
}

.input-area,
.output-area {
  flex: 1 0;
  text-align: left;
}

.error-message {
  font-size: 16px;
  color: pink;
}
