header {
  margin-bottom: 3rem;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

main {
  max-width: 720px;
  margin: 0 auto;
}

.emoji-matrix-input {
  height: 200px;
  font-size: 2rem;

  margin-bottom: 1rem;
  width: 90%;
}

.result {
  white-space: pre-line;
  font-size: 1rem;
}

.input-output-area {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 640px) {
  .input-output-area {
    flex-direction: row;
  }
}

.input-area,
.output-area {
  flex: 1 0 50%;
  text-align: left;
}

.input-area {
  margin-right: 2rem;
}

.error-message {
  font-size: 16px;
  color: pink;
  min-height: 3rem;
}

.label {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.subtext {
  font-size: 1.25rem;
}
